body{
	background-color: #fff;
	width: 100%;
	height: 100%;
	margin:0;
	padding: 0;
}

#logo{
	width: 364px;
	height: 290px;
	left: 50%;
	top: 50%;
	position: absolute;
	margin-left:-182px;  
	margin-top:-210px; 
  overflow: hidden;
}

h1 {
	text-align: center;
	font-family: "Lato", helvetica, arial,sans-serif;
  font-weight: 100;
  font-size: 40px;
  top: 50%;
  width: 100%;
  position: absolute;
  margin-top: 96px;
}

#address{
	position: absolute;
	bottom: 5px;
	font-size: 10px;
  font-weight: 300;
	text-align: center;
	font-family: "Lato", helvetica, arial,sans-serif;
	letter-spacing: 0.12em;
	width: 100%;
}

a{
  text-decoration: none;
	color:#65BED8;
}
