    <footer>
    &nbsp;
    </footer>
    <script type="text/javascript" charset="utf-8" src="js/vendor.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/main.js"></script>
  </body>
</html>
