<!DOCTYPE html>
<html>
  <head>
    <title>Lucas Dupin</title>
    <link href='http://fonts.googleapis.com/css?family=Dosis:200,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css" type="text/css">
  </head>
  <body>
    {{> menu this}}

