<!DOCTYPE html>
<html>
  <head>
    <title>Lucas Dupin</title>
    <link href='http://fonts.googleapis.com/css?family=Dosis:200,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="user-scalable=yes, width=1000">
    <meta name="description" content="Portfolio of a multidisciplinary programmer based in São Paulo, currently Tech Lead at DoubleLeft. Here you can see works for Coca-Cola, Google, Nike, Red Bull, Absolut among others...">
    <meta name="keywords" content="advertising, programmer, porfolio, lucas dupin, programador, publicidade, double left"/>
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Lucas Dupin" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://lucasdup.in/folio/" />
    <meta property="og:image" content="http://lucasdup.in/folio/img/share.png" />
    <script data-pace-options='{ "ajax": { "trackWebSockets": false } }' type="text/javascript" href="js/pace.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="css/main.css" type="text/css">
  </head>
  <body {{#if index}}class="home"{{/if}}>
    <div id="parallax-container"></div>
    {{> menu this}}

