<nav>
  <a href="index.html" {{#if index}}class="selected"{{/if}}>Latest Work</a>
  <a href="timeline.html" {{#if timeline}}class="selected"{{/if}}>Awards</a>
  <a href="https://github.com/lucasdupin" target="_blank">Github</a>
  <a href="about.html" {{#if about}}class="selected"{{/if}}>About</a>
</nav>
