{{> header about=true }}
<header class="about animate">
  <h1>
    I get my hands dirty<br>
    <span class="small">And I like it!</span>
  </h1>
</header>
<section id="about">
  <h1>About me</h1>
  <p>I'm a multidisciplinary programmer based in S&atilde;o Paulo.</p>

  <p>I've been working as a programmer for more then 10 years, and dedicated my life to advertisement during the last 7. These are some of the brands I had the opportunity to work for: Nike, Coca-Cola, Google, Red Bull, Nissan, Toyota, Absolut, Samsung and TED among others.</p>

  <p>One of my strongest beliefs is that you can't be awesome in something if you don't get the bigger picture. You must have knowledge about front-end, back-end, animation, art, security... then you get to choose what makes you happier, in my case, it's doing what I've never done before.</p>

  <p>
  The languages that make me more comfortable are: JavaScript, C++, Lua, Java and Ruby, but I still like the good and old ActionScript.<br>
  Still, I know languages aren't enough since you can't know only JavaScript, you also must master a CSS preprocessor, dozens of HTML5 APIs and some frameworks.<br>
  </p>

  <p>
  The years told me you can't be amazing alone and that a great job is the result of a lot of thinking, believing, collaborating, and sometimes working at night.<br>
  That is what I pursue, great experiences and I know there is always room for improvement.
  </p>
  <h1>My pathway</h1>

  <p>
  It all started when I saw my father playing Prince of Persia on a black and white display (at the time we couldn't afford a color one).<br>
  He looked through a spreadsheet, trying to find out what's the correct potion to drink, based on the computer's clock, otherwise the prince would die.<br>
  It wasn't possible to distinguish between blue end red, since we could only see grayscale.<br>
  All I could think of was: how is it possible? And instantly I felt in love with computers, I knew what I was meant to do when I grow up.
  </p>
  <p>When I was 14, I decided to take a 3 year data processing course, and soon started working with big databases.<br>
  I loved to code but something was wrong, this wasn't what I wanted for my life.<br>
  That time I stared another course, now it was Virtual and Digital Design in Istituto Europeo di Design, that's when I discovered I could draw with code, and even better it would be interactive!
  </p>

  <p>
  I set my stakes high, I wanted to enter one of the best digital agencies in South America, and I did it. I joined Grïngo, the greatest school I've been so far. There I could help to produce 5 FWAs, and some other prizes. <br>
  Some years later I went to Wieden Kennedy, opened my own production company, was invited to become one of the Red Bull's Digital Academy curators and finally merged with Doubleleft, where I'm the tech lead.
  </p>

  <p>
  I can't wait for the next years.
  </p>
</section>
{{> footer}}
