{{> header index=true }}
{{#each featured}}
<section class="featured-work {{keyword}}" style="background-image: url('img/featured/{{~keyword}}.jpg')">
  <h1><a href="{{keyword}}.html">{{name}}</a></h1>
</section>
{{/each}}
{{> footer}}
