{{> header index=true }}
{{#each featured}}
<section class="featured-work {{keyword}}" style="background-image: url('img/featured/{{~keyword}}.jpg')">
  <h1><a href="{{keyword}}.html">{{name}}</a></h1>
</section>
{{/each}}
   <script type="text/javascript" charset="utf-8" src="js/vendor.js"></script>
    <script type="text/javascript" charset="utf-8" src="js/main.js"></script>
  </body>
</html>
