{{> header timeline=true}}
<header class="timeline animate">
  <h1>Getting nostalgic</h1>
</header>
<section id="timeline">
  <p class="intro">I've been working with advertisement for the last 7 years, but I'm a programmer for more then 10.<br>
  These are some works I'm proud to take part in.</p>
  <ul>
  {{#each jobs}}
  <li style="background-image: url('img/timeline/{{picture}}')" {{#unless link}}class="disabled"{{/unless}}>
    {{#if link}}<a href="{{link}}" target="_blank">{{/if}}
    <span class="name">{{name}}</span>
    <span class="brand">{{brand}}</span>
    {{#if link}}</a>{{/if}}
  </li>
  {{/each}}
  </ul>
</section>
{{> footer}}
